### Python List:
#### 1. Create your own lists otherwise use the List1 = ['hello','GUVI','GEEK']  to perform the below Python list  Operations?
####   A. Repetition (*)
####    B. Concatenation (+)
####    C. Membership
####    D. Length
####    E. Iteration

In [2]:
list1 = ['hello','GUVI','GEEK']
repetition = list1 * 3
print(repetition)

['hello', 'GUVI', 'GEEK', 'hello', 'GUVI', 'GEEK', 'hello', 'GUVI', 'GEEK']

In [3]:
list1 = ['hello','GUVI','GEEK']
list2 = ['Preeti', 'Mittal']
concatenation = list1 + list2
print(concatenation)

['hello', 'GUVI', 'GEEK', 'Preeti', 'Mittal']

In [4]:
list1 = ['hello','GUVI','GEEK']
membership = 'GUVI' in list1
print(membership)

True

In [5]:
list1 = ['hello','GUVI','GEEK']
length = len(list1)
print(length)

3

In [6]:
list1 = ['hello','GUVI','GEEK']
for item in list1:
    print(item)

hello
GUVI
GEEK

#### 2.1. Create your own lists to perform the below Python List Built-in functions?
#### otherwise use the
####                    List1 = [15, 300, 2700, 821]
####                    List2 = [12, 2]
####                    List3 = [34, 567, 78]
####    A.  max(list)    
####    B.  min(list)    
####    C.  list(seq)

In [8]:
list1 = [15, 300, 2700, 821]
maximum = max(list1)
print(maximum)

2700

In [10]:
list1 = [15, 300, 2700, 821]
minimum = min(list1)
print(minimum)

15

In [12]:
tuple_seq = (15, 300, 2700, 821)
converting_to_list = list(tuple_seq)
print(converting_to_list)

[15, 300, 2700, 821]

#### 3. Create your own lists to perform the below Python List built-in methods
####    A.  list.append()
####    B.  list.clear()   
####    C.  List.copy()          
####    D.  list.count()         
####    E.  list.extend()    
####    F.  list.index()
####    G.  list.insert()  
####    H.  list.pop() 
####    I.  list.remove()    
####    J.  list.reverse()         
####    K.  list.sort()

In [15]:
list1 = ['hello','GUVI','GEEK']
string = 'Preeti'
list1.append(string)
print(list1)

['hello', 'GUVI', 'GEEK', 'Preeti']

In [17]:
list1 = ['hello','GUVI','GEEK']
list1.clear()
print(list1)

[]

In [18]:
list1 = ['hello','GUVI','GEEK']
list2 = list1.copy()
list2

['hello', 'GUVI', 'GEEK']

In [21]:
list1 = ['hello','GUVI','GEEK', 'hello']
list1.count('hello')

2

In [25]:
list1 = ['hello','GUVI','GEEK']
list1.extend(['Python', 'Practice'])
print(list1)

['hello', 'GUVI', 'GEEK', 'Python', 'Practice']

In [28]:
list1 = ['hello','GUVI','GEEK']
list1.index('GUVI')

1

In [44]:
list1 = ['hello','GUVI','GEEK']
list1.insert(1, 'Preeti')
list1

['hello', 'Preeti', 'GUVI', 'GEEK']

In [35]:
list1 = ['hello','GUVI','GEEK']
list1.pop(2)
print(list1)

['hello', 'GUVI']

In [39]:
list1 = ['hello','GUVI','GEEK']
list1.remove('hello')
print(list1)

['GUVI', 'GEEK']

In [41]:
list1 = ['hello','GUVI','GEEK']
list1.reverse()
list1

['GEEK', 'GUVI', 'hello']

In [42]:
list1 = ['hello','GUVI','GEEK']
list1.sort()
list1

['GEEK', 'GUVI', 'hello']

### Python Tuple
#### Create your own Tuple to perform the below Python tuple Operations ?
#### otherwise use the below
####               Tuple1 = ('a','b','c','d')
####               Tuple2 = ('e','f','g','h')
#### 1. Tuple Operations
####   A. Repetition (*)
####   B. Concatenation (+)
####   C. Membership
####   D. Length
####   E. Iteration

In [46]:
tuple1 = ('a','b','c','d')
tuple2 = ('e','f','g','h')
repetition = tuple1*3
print(repetition)

('a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd')

In [47]:
tuple1 = ('a','b','c','d')
tuple2 = ('e','f','g','h')
concatenation = tuple1+tuple2
print(concatenation)

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')

In [48]:
tuple1 = ('a','b','c','d')
membership = 'c' in tuple1
print(membership)

True

In [49]:
tuple1 = ('a','b','c','d')
length = len(tuple1)
print(length)

4

In [50]:
tuple1 = ('a','b','c','d')
for item in tuple1:
    print(item)

a
b
c
d

#### 2.Create your own Tuple to perform the below Python tuple inbuilt functions ?
#### otherwise use the below
####            Tuple1 = (1,4,2,4,5,6,3,5,4,6,77,8,7,7,876,89,8765,4,5,1,876,9,3456,4234)
       
####         A. max(Tuple)   
####         B. min(Tuple)     
####         C. Tuple(seq)

In [51]:
tuple1 = (1,4,2,4,5,6,3,5,4,6,77,8,7,7,876,89,8765,4,5,1,876,9,3456,4234)
maximum = max(tuple1)
print(maximum)

8765

In [52]:
tuple1 = (1,4,2,4,5,6,3,5,4,6,77,8,7,7,876,89,8765,4,5,1,876,9,3456,4234)
minimum = min(tuple1)
print(minimum)

1

In [53]:
seq = 'Preeti'
convert_to_tuple = tuple(seq)
print(convert_to_tuple)

('P', 'r', 'e', 'e', 't', 'i')

# Python Set
#### Create your own Set to operate the below Python Set Operations ?
#### otherwise use the below set:
####        Set1 = {1,4,2,4,5,6,3,5,4,6,77,8,7,7,876}
####        Set2 = {3,432,5,6,4,6,7,6,5,6,54,567,5}
   
#### 1. Set Operations
####     A. Union
####     B. Intersection
####     C. Difference
####     D. Symmetric difference

In [54]:
set1 = {1,4,2,4,5,6,3,5,4,6,77,8,7,7,876}
set2 = {3,432,5,6,4,6,7,6,5,6,54,567,5}
union = set1.union(set2)
print(union)

{1, 2, 3, 4, 5, 6, 7, 8, 876, 77, 432, 54, 567}

In [55]:
set1 = {1,4,2,4,5,6,3,5,4,6,77,8,7,7,876}
set2 = {3,432,5,6,4,6,7,6,5,6,54,567,5}
intersection = set1.intersection(set2)
print(intersection)

{3, 4, 5, 6, 7}

In [56]:
set1 = {1,4,2,4,5,6,3,5,4,6,77,8,7,7,876}
set2 = {3,432,5,6,4,6,7,6,5,6,54,567,5}
difference = set1.difference(set2)
print(difference)

{1, 2, 8, 876, 77}

In [57]:
set1 = {1,4,2,4,5,6,3,5,4,6,77,8,7,7,876}
set2 = {3,432,5,6,4,6,7,6,5,6,54,567,5}
symmetric_difference = set1.symmetric_difference(set2)
print(symmetric_difference)

{1, 2, 8, 876, 77, 432, 54, 567}

#### Python Dictionary
#### Create your own Dictionary to perform the below Python Built-in Dictionary functions
#### otherwise use the below Dictionary:
####                            dict = {'Name': 'Student', 'Age': 27};
####    A.  len(dict)    
####    B.  str(dict)      
####    C.  type(variable)

In [59]:
dict1 = {'Name': 'Student', 'Age': 27}
length = len(dict1)
print(length)

2

In [60]:
dict1 = {'Name': 'Student', 'Age': 27}
convert_to_str = str(dict1)
print(convert_to_str)

{'Name': 'Student', 'Age': 27}

In [64]:
print(type(dict1))
print(type(convert_to_str))

<class 'dict'>
<class 'str'>

In [65]:
dict1 = {'Name': 'Student', 'Age': 27}
type_variable = type(dict1)
print(type_variable)

<class 'dict'>

#### 2.Create your own Dictionary to perform the below Python Built-in Dictionary methods
#### otherwise use the below Dictionary:
####                            dictionaries = {0:" Data",1: "GUVI", 2: "GEEK",3:"Python",4:"Happy"}
####    A.  dic.clear()
####    B.  dict.copy()  
####    C.  dict.fromkeys()
####    D.  dict.get(key[, value])    
####    E.  dict.items()   
####    F.  dict.keys()   
####    G.  dict.setdefault()  
####    H.  dict.update()  
####    I.  dict.values()

In [75]:
dic = {0:" Data",1: "GUVI", 2: "GEEK",3:"Python",4:"Happy"}
dic.clear()
print(dic)

{}

In [68]:
dic = {0:" Data",1: "GUVI", 2: "GEEK",3:"Python",4:"Happy"}
dic2 = dic.copy()
print(dic2)

{0: ' Data', 1: 'GUVI', 2: 'GEEK', 3: 'Python', 4: 'Happy'}

In [74]:
keys = [1, 2, 3]
values = 'default'
fromkeys_dict = dict.fromkeys(keys, values)
print("Fromkeys dictionary:", fromkeys_dict)

Fromkeys dictionary: {1: 'default', 2: 'default', 3: 'default'}

In [83]:
dic = {0:" Data",1: "GUVI", 2: "GEEK",3:"Python",4:"Happy"}
dic.get(5, "Not found")

'Not found'

In [84]:
dic = {0:" Data",1: "GUVI", 2: "GEEK",3:"Python",4:"Happy"}
dic.items()

dict_items([(0, ' Data'), (1, 'GUVI'), (2, 'GEEK'), (3, 'Python'), (4, 'Happy')])

In [85]:
dic = {0:" Data",1: "GUVI", 2: "GEEK",3:"Python",4:"Happy"}
dic.keys()

dict_keys([0, 1, 2, 3, 4])

In [90]:
dic = {0:" Data",1: "GUVI", 2: "GEEK",3:"Python",4:"Happy"}
dic.setdefault(4,'Glad')

'Happy'

In [92]:
dic = {0:" Data",1: "GUVI", 2: "GEEK",3:"Python",4:"Happy"}
update_dict = {4: "Joyful", 5: "Learning"}
dic.update(update_dict)
print(dic)

{0: ' Data', 1: 'GUVI', 2: 'GEEK', 3: 'Python', 4: 'Joyful', 5: 'Learning'}

In [93]:
dic = {0:" Data",1: "GUVI", 2: "GEEK",3:"Python",4:"Happy"}
dic.values()

dict_values([' Data', 'GUVI', 'GEEK', 'Python', 'Happy'])

#### Conditional Statements
####    1. IF
####    2. IF-ELSE
####    3. If...Elif...Else
 
#### 1. Write if statement 13 is greater than 25?

In [94]:
number1 = 13
number2 = 25

if number1 > number2:
    print("13 is greater than 25.")
else:
    print("13 is not greater than 25.")

13 is not greater than 25.

#### 2.  Write a if else  statement to find if the number is divisible by 25?

In [95]:
num = int(input("Enter a number: "))
if num%25==0:
    print("Number is divisible by 25")
else:
    print("Number is not divisible by 25")

Enter a number: 100
Number is divisible by 25

#### 3.Using the three variables 'a = 154; b = 2451; c = 6054',
#### Write a If...Elif...Else statement to find the greatest number

In [103]:
a = 154
b = 2451
c = 6054

if a>b and a>c:
    print("a is greatest")
elif b>a and b>c:
    print("b is greatest")
else:
    print("c is greatest")

c is greatest