### 1. Write a Python function to multiply all the numbers in a list.

In [96]:
ls1 = [1,2,3,4,5]

def mul(ls):
    multiple = 1
    for i in range(0,len(ls1)):
        multiple = multiple * ls1[i]
    
    return multiple

print(mul(ls1))

120

### 2. Write a Python function to reverse a string
### i) use for loop
### ii) use while loop

In [98]:
string = 'Preeti Mittal'
def rev_str_for_loop(string):
    reverse_string = ''
    for char in string:
        reverse_string = char + reverse_string
    return reverse_string
print(rev_str_for_loop(string))

lattiM iteerP

In [99]:
string = 'Preeti Mittal'
def rev_str_while_loop(string):
    reverse_string = ''
    index = len(string)-1
    while(index>=0):
        reverse_string = reverse_string+string[index]
        index-=1
    return reverse_string

print(rev_str_while_loop(string))

lattiM iteerP

### 3. Write a function to add and subtract two variables

In [20]:
a = 50
b = 20

def add_sub(x,y):
    addition = x+y
    substraction = x-y
    return addition , substraction

addition, substraction = add_sub(a,b)
print("Addition of {} and {} is: ".format(a,b), addition )
print("Substraction of {} and {} is: ".format(a,b), substraction )

Addition of 50 and 20 is:  70
Substraction of 50 and 20 is:  30

### 4. Write a function to check the number is divisible by 12

In [25]:
num = int(input("Enter the number: "))
def twelfth_divisible(num):
    if num%12==0:
        print("Number is divisible by 12")
    else:
        print("Number is not divisible by 12")

result = twelfth_divisible(num)

Enter the number: 48
Number is divisible by 12

### 5. Write a function to calculate the number of days and weeks

In [37]:
num = int(input("Enter the number: "))

def weeks_num_of_days(num):
    weeks = round(num//7,0)
    num_of_days = round(num%7,0)
    return weeks, num_of_days

weeks, number_of_days = weeks_num_of_days(num)

print("No. of weeks in {} days: ".format(num), weeks)
print("No. of remaining days in {} days: ".format(num), number_of_days)

Enter the number: 30
No. of weeks in 30 days:  4
No. of remaining days in 30 days:  2

### 6.Write a Python function to Find the 5!?

In [54]:
def factorial(num):
    fact = 1
    if num==0 or num==1:
        fact = 1
    else:
        for i in range(1,num+1):
            fact = fact*i
    return fact

In [55]:
factorial(5)

120

### 7. Write a Python function to find the unique elements of the list = [1,2,3,3,3,3,4,5,4,2,4,2,4,4,2,4,5,4,34,654,5,7,6,5,4,3]

In [57]:
ls2 = [1,2,3,3,3,3,4,5,4,2,4,2,4,4,2,4,5,4,34,654,5,7,6,5,4,3]

def unique_elements(ls):
    unique_list = list(set(ls))
    return unique_list
unique_elements(ls2)

[1, 2, 3, 4, 5, 34, 7, 6, 654]

### Types of arguments
###    1. Required arguments
###    2. Keyword arguments
###    3. Default arguments
 
### 1. Required arguments:
### Write a program to calculate Simple Interest which accepts three arguments and returns the simple interest accordingly

In [60]:
def simple_interest(priciple, rate, time):
    simple_interest = (principle*rate*time)/100
    return simple_interest

principle = float(input("Enter the principle amount: "))
rate = float(input("Enter the rate: "))
time = float(input("Enter time: "))

SI = simple_interest(principle,rate,time)
print("Simple Interest is: ",SI)

Enter the principle amount: 1000
Enter the rate: 4.5
Enter time: 2
Simple Interest is:  90.0

### 2.Keyword arguments:
### Write a function which will be called with the name and message as the keyword arguments. Output will be "printing the message with 'name' and  'message'"

In [63]:
def message_with_name(name, message):
    print("Printing the message with ''{}' and '{}'".format(name,message))

# Example usage
message_with_name(name="Preeti", message="Hello Guvi!")

Printing the message with ''Preeti' and 'Hello Guvi!'

### 3.Default Arguments:
### Write a function which will be called with the name as keyword argument and age as the default arguments. Output will be "My name is 'name' and 'age is 27'"

In [65]:
def default_arguments(name, age=27):
    print("My name is '{}' and my age is {}".format(name,age))

default_arguments(name='Preeti')

My name is 'Preeti' and my age is 27

### lambda function
### 1. Get a number from user,  find if it is even or odd number?

In [69]:
num = int(input("Enter a number: "))

result = lambda x: "Number is even" if x%2==0 else "Number is odd"

result(num)

Enter a number: 3

'Number is odd'

### 2. Take a input from user and  square it

In [72]:
num = int(input("Enter a number: "))
square = lambda x: x**2
square(num)

Enter a number: 10

100

### 3. Write a lambda function using logical operators?
### Hint:
### Check x < 10
### Output: False / True

In [74]:
num = int(input("Enter a number: "))
result = lambda x: x>10
result(num)

Enter a number: 9

False

### 4. Take an integer input from the user,  add 5 to the number and print it back?


def abc(num):
    added_num = num+5
    print(added_num)

num = int(input("Enter a number: "))
result = abc(num)

### Map
### 1. Add two lists using map ()
###     lis1 = [12, 24, 36]
###     lis2 = [41, 54, 69]

In [77]:
lis1 = [12, 24, 36]
lis2 = [41, 54, 69]

result = list(map(lambda x,y: x+y, lis1,lis2))
print(result)

[53, 78, 105]

### 2. Use Lambda and map functions on a List, to square each element in the list = [1, 2, 3, 4, 5, 6, 7]

In [78]:
ls = [1,2,3,4,5,6,7]
squared_result = list(map(lambda x: x**2, ls))
print(squared_result)

[1, 4, 9, 16, 25, 36, 49]

### 3.In the given list [1, 2, 3, 4, 5, 6, 7], find the even and odd elements in the list, use the map()function

In [79]:
ls = [1,2,3,4,5,6,7]
even_odd = list(map(lambda x: "even" if x%2==0 else "odd", ls))
print(even_odd)

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [80]:
my_list = [1, 2, 3, 4, 5, 6, 7]


even_elements = list(map(lambda x: x if x % 2 == 0 else None, my_list))
odd_elements = list(map(lambda x: x if x % 2 != 0 else None, my_list))

even_elements = list(filter(lambda x: x is not None, even_elements))
odd_elements = list(filter(lambda x: x is not None, odd_elements))


print("Even elements:", even_elements)
print("Odd elements:", odd_elements)

Even elements: [2, 4, 6]
Odd elements: [1, 3, 5, 7]

### 4. In the given list [11, 12, 13, 14, 435, 6, 27], perform the Floor division using 7 on each elements on the list

In [81]:
ls = [11, 12, 13, 14, 435, 6, 27]
floor_division = list(map(lambda x: x//7,ls))
print(floor_division)

[1, 1, 1, 2, 62, 0, 3]

### Filter
### 1.Using the given list lis1 = [3,12, 24, 36,43,654,65432,2,654,455,43,543] filter the numbers in list which are not divisible by 2

In [83]:
lis1 = [3,12, 24, 36, 43, 654, 65432, 2, 654, 455, 43, 543]
result = list(filter(lambda x: x%2!=0,lis1))
print(result)

[3, 43, 455, 43, 543]

### 2.For a given list1 = [1, 2, 3, 4, 5, 6] filter only the even numbers (Use filter).

In [84]:
list1 = [1, 2, 3, 4, 5, 6]
result = list(filter(lambda x: x%2==0,list1))
print(result)

[2, 4, 6]

### 3. For a given list = [2,3,5,3,6,3,7,4,6,7] filter only the even numbers using user defined function.

In [88]:
ls = [2,3,5,3,6,3,7,4,6,7]

def even_number(lis):
    even_ls =[]
    for i in range(0,len(lis)):
        if lis[i]%2==0:
            even_ls.append(lis[i])
    return even_ls
result = even_number(ls)
print(result)

[2, 6, 4, 6]

### 4. For a given list = [1, 12, 31, 4, 15, 6, 7] filter only the odd numbers using user defined function.

In [89]:
ls = [1, 12, 31, 4, 15, 6, 7]

def odd_number(lis):
    odd_ls =[]
    for i in range(0,len(lis)):
        if lis[i]%2!=0:
            odd_ls.append(lis[i])
    return odd_ls
result = odd_number(ls)
print(result)

[1, 31, 15, 7]

### Reduce
### 1.For list = [1, 2, 3, 4] multiply all the elements (use reduce function)

In [91]:
from functools import reduce

In [92]:
ls = [1,2,3,4]
result = reduce(lambda x,y: x*y, ls)
print(result)

24

### 2. For list = [ 11 , 13, 15, 16, 2,43 ]  sum all the elements (use reduce function)

In [93]:
ls = [ 11 , 13, 15, 16, 2,43 ]
result = reduce(lambda x,y: x+y, ls)
print(result)

100

### 3. Find the maximum value in the list = [543,7,6,4567,7,78,6,6,78,765,678] (use reduce function)

In [94]:
ls = [543,7,6,4567,7,78,6,6,78,765,678] 
result = reduce(lambda x,y: max(x,y), ls)
print(result)

4567

### 4. Find the minimum value in the list= [543,7,6,4567,7,78,6,6,78,765,678] (use reduce function)

In [95]:
ls = [543,7,6,4567,7,78,6,6,78,765,678]
result = reduce(lambda x,y: min(x,y), ls)
print(result)

6