1.  Python Program to exchange the values of two numbers without using a temporary variable.

In [13]:
a=5
b=10

a = a+b
b = a-b
a = a-b
print("Value of variable a after exchanging :", a)
print("Value of variable b after exchanging :", b)

Value of variable a after exchanging : 10
Value of variable b after exchanging : 5

2. Write a python code to replace all  "a"  with 2 for the given variable
s = 'abc12321cba'

In [3]:
s = 'abc12321cba'
s = s.replace('a','2')
s

'2bc12321cb2'

3. Python code for to  remove first character in string?

In [15]:
string = "mystring"
result = string[1:]
result

'ystring'

4. Concatenate two strings  
First Input : "hello" 
Second Input : "guvi"
desired output :   "hello guvi"

In [7]:
First_Input = "hello" 
Second_Input = "guvi"

result =   First_Input + " " + Second_Input
print(result)

hello guvi

5. Repeat the string "hello guvi" 3 times 
desired output :  'hello guvi hello guvi hello guvi '

In [17]:
string = "hello guvi"
output = (string + " ") * 2 + string
print(output)

hello guvi hello guvi hello guvi

6. Create 3 variables a1,a2,a3. Assign the same value " 4 " to all the variables in a single line of code.

In [18]:
a1 = a2 =a3 = 4
print("a1 : ", a1)
print("a2 : ", a2)
print("a3 : ", a3)

a1 :  4
a2 :  4
a3 :  4

7. Calculate BMI of a person using the height and weight.
BMI = weight / (height **2)

In [21]:
weight = float(input("Enter weight (in kilograms): "))
height = float(input("Enter height (in meters): "))
BMI = weight/(height **2)
print("BMI of a person :" , BMI)

Enter weight (in kilograms): 85
Enter height (in meters): 1.77
BMI of a person : 27.13141179099237

8.Write a python program to calculate the area of circle.

In [23]:
import math
radius = float(input("Enter radius of a circle : "))
area = math.pi * (radius**2)
print("Area of a circle", area)

Enter radius of a circle : 3
Area of a circle 28.274333882308138

9.Calculate the simple interest
simple_interest = p * n * r /100

In [24]:
principal = float(input("Enter principal amount : "))
rate = float(input("Enter rate : "))
time = float(input("Enter time : "))
simple_interest = (principal * rate * time)/100
print("Simple_Interest : ", simple_interest)

Enter principal amount : 1000
Enter rate : 4.5
Enter time : 2
Simple_Interest :  90.0

10.Python code to calculate the square root of the given number(run time variable)

In [26]:
number = float(input("Enter a number: "))
square_root = math.sqrt(number)

print("Square root of {} is {}".format(number, square_root))

Enter a number: 16.0
Square root of 16.0 is 4.0